- if interview.pending?
  = link_to "Start Stage #{interview.stage_number} Interviewing...", position_interview_question_path(position, interview, 1), :class => "action"
- elsif interview.completed?
  .completed Completed
