%nav
  %ul
    %li
      = link_to("Template", "/templates")
      %small Ask questions
    %li
      = link_to("Interviews", "/interviews")
      %small Find the right guy
    %li
      = link_to("Jobs", jobs_url)
      %small For hire
